{% load bootstrap5 %}
{% bootstrap_css %}
{% bootstrap_javascript %}

<div class = "container mx-auto">

        <div class="card">
                <h5 class="card-header">{{thread.username}}</h5>
                <div class="card-body">
                        <h5 class="card-title">{{ thread.title_text }}</h5>
                        <p class="card-text">{{ thread.question_text }}</p>
                         <!-- Button trigger modal -->
                        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
                                Reply
                        </button>
                </div>
        </div>

  
      
      <!-- Modal -->
      <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Respond to Thread Below</h5>
              <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
                <label for="username">Username:</label><br>
                <input style="height:50px;" type="text" name="username" id="username" ><br>
                <label for="username">Response Text:</label><br>
                <input style="height:200px;" type="text" name="resposne" id="username" ><br>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-primary">Submit</button>
            </div>
          </div>
        </div>
      </div>

</div>


