{% load i18n %}
{% load socialaccount %}


<!DOCTYPE html>
<html>
<head>
  {% load bootstrap5 %}
  {% bootstrap_css %}
  {% bootstrap_javascript %}
</head>
<body>
{% if user.is_authenticated %}
  <div class="container">
    <h1>Tutor Me</h1>
    <ul class="nav bg-info">
      <li class="nav-item">
        <a class="nav-link link-light" href="/">HOME PAGE</a>
      </li>
      <li class="nav-item">
        <a class="nav-link link-light" href="/tutor_courses">VIEW CURRENT TUTOR COURSES</a>
      </li>
      <li class="nav-item">
        <a class="nav-link link-light" href="/submit_listing">SUBMIT LISTING</a>
      </li>
      <li class="nav-item">
        <a class="nav-link link-light" href="/profile">MY PROFILE</a>
      </li>
      <li class="nav-item">
        <a class="nav-link link-light" href="logout">LOG OUT</a>
      </li>
    </ul>
    <p>Welcome, You are logged in as {{ user.username }}</p>
{% else %}
  <a href="{% provider_login_url 'google' %}">Login With Google</a>
{% endif %}

</div>
</body>
</html>