{% load i18n %}
{% load socialaccount %}



<!DOCTYPE html>
<html>
<head>
  {% load bootstrap5 %}
  {% bootstrap_css %}

  {% bootstrap_javascript %}
  <!-- Add icon library -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">

  <style>
    .logincontainer {
      background-image: url("https://wallpapercave.com/wp/wp5794418.jpg");
      margin-left: auto;
      margin-right: auto;
      margin-top: auto;
      width: auto;
      height: 100vh;
    }
    .logintext {
      position: absolute;
      text-align: center;
      padding-left: 60vh;
      padding-right: 60vh;
      padding-top: 15vh;
      padding-bottom: 50vh;
    }
    .profileheader {
        padding: 30px;
    }
    .container {
        overflow: auto; /* clear the float */

    }
    
    .left-div {
      background-color: #ccc;
      padding: 10px;
      display: inline-block;
      margin-right: 10px;
    }
    .right-div {
      background-color: #fff;
      padding: 10px;
      display: inline-block;
    }

    .button-container {
      display: flex;
      padding-left: 60px;
      padding-right: 60px;
    }   
    tr:nth-child(even) {
      background-color: #D6EEEE;
    }
    
  </style>
  <title>Profile</title>
</head>
<body>
{% if user.is_authenticated %}
<div class="cover-container  mx-auto flex-column">

    <ul class="nav bg-info mx-auto">
      <a class="navbar-brand"href="/"><img src= "https://lh5.googleusercontent.com/PMyEMcnh7OuoAC_dPcDNxLGSoFZm8T1K9sob-VHKqBk74YqWJjugOfbulpRZGtn_TSY=w2400" alt="" width="35"  height="35"></a>
      <li class="nav-item">
        <a class="nav-link link-light" href="/tutor_courses">Find a Tutor</a>
      </li>
      <li class="nav-item">
        <a class="nav-link link-light" href="/submit_listing">Start Tutoring</a>
      </li>
      <li class="nav-item">
        <a class="nav-link link-light" href="/profile">Profile</a>
      </li>
      <li class="nav-item">
        <a class="nav-link link-light" href="/logout">Log Out</a>
      </li>
      <li class="nav-item">
        <a class="nav-link disabled" >{{ user.username }}</a>
      </li>
    </ul>

    <body class="text-center">
   
  
    <!-- <h1>Enter your Name</h1>
    <form method="get">
        {{ form.as_p }}
        <button type="submit">Filter</button>
    </form> -->

    <!-- HEADER THAT SAYS THE NAME OF THE PROFILE -->
    <div class="position-relative overflow-hidden bg-light">
      <div class="profileheader">
          <h1 class="display-4 font-weight-normal">{{ user.username }}'s Profile</h1>
      </div>

  </div>

<!-- This if is for if they are a tutor -->
  {% if is_tutor %}
<!-- DIV FOR BOTH STUDENT AND TUTOR SIDE -->
    <div class = 'container'>
<!-- DIV FOR THE TUTOR SIDE -->
  
    <div class = 'left-div'>
      <h1>Tutor Side</h1>
      <h2>Your Listings For Sale:</h2>
      <tbody>
        {% for tutor in tutor %}
            <tr>
                <td>{{ tutor.first_name }}</td>
                <td>{{ tutor.course }}</td>
                <td>{{ tutor.headline }}</td>
                <td>{{ tutor.qualifications }}</td>
                <td>{{ tutor.hourly_rate }}</td>
                <td>{{ tutor.rating }}</td>
            </tr>
            <br>
        {% endfor %}
        </tbody>
      
    <div class = 'containter'> 
    <div class = 'left-div'>
    {% if not has_sess_request %}
    {% else %}
    <h1>Confirm/Decline Requests:</h1>
    <tbody>
      {% for sess_request in sess_request %}
          <tr>
              <td>{{ sess_request.date }}</td>
              <td>{{ sess_request.start_time }}</td>
              <td>{{ sess_request.end_time }}</td>
              <td>{{ sess_request.student }}</td>
              <td>{{ sess_request.course }}</td>
              <td>{{ sess_request.service }}</td>
          </tr>
          <br>
          <div class="button-container">
          <form action="{% url 'confirm_model' pk=sess_request.pk %}" method="post">
            {% csrf_token %}
            <button type="submit" class="btn btn-success">Confirm</button>
        </form>
          <form action="{% url 'decline_model' pk=sess_request.pk %}" method="post">
            {% csrf_token %}
            <button type="submit" class="btn btn-warning">Decline</button>
        </form>
      </div>
        <br>
      {% endfor %}
        </tbody>
      </div>
      {% endif %}

    {% if not has_sess_request_confirmed %}
    {% else %}
      <div class = "right-div">
      <h1>Confirmed Session Requests:</h1>
        <tbody>
          {% for sess_request in sess_request_confirmed %}
            <tr class="table-primary">
                  <td>{{ sess_request.date }}</td>
                  <td>{{ sess_request.start_time }}</td>
                  <td>{{ sess_request.end_time }}</td>
                  <td>{{ sess_request.student }}</td>
                  <td>{{ sess_request.course }}</td>
                  <td>{{ sess_request.service }}</td>
              </tr>
              <br>
              <form action="{% url 'decline_model' pk=sess_request.pk %}" method="post">
                {% csrf_token %}
                <button type="submit" class="btn btn-warning">Decline</button>
            </form>
            <br>
          {% endfor %}
            </tbody>
          </div>
          {% endif %}
    </div>
    </div>


<!-- DIV FOR THE STUDENT SIDE -->
<div>
  <h1>Student Side</h1>
  <h2>Pending Requests You Made:</h2>
  {% if not has_sess_request_student_side %}
    <p>You currently have no requests pending for tutors. You can book a listing  <a href="{% url 'listing_view' %}">here!<a></p>
    {% else %}
  <tbody>
      {% for sess_request in sess_request_student_side %}
    {% if sess_request.pending == 1 %}
      <div style="background-color: rgb(166, 232, 166);">
        <tr>
          <td>{{ sess_request.date }}</td>
            <td>{{ sess_request.start_time }}</td>
            <td>{{ sess_request.end_time }}</td>
            <td>{{ sess_request.student }}</td>
            <td>{{ sess_request.course }}</td>
            <td>{{ sess_request.service }}</td>
        </tr>
        <br>
        <p>Your session is approved! Contact {{sess_request.tutor.user.email}} to get started!</p>
      </div>
    {% elif sess_request.pending == 2 %}
    <div style="background-color: rgb(227, 177, 177);">
      <tr>
        <td>{{ sess_request.date }}</td>
            <td>{{ sess_request.start_time }}</td>
            <td>{{ sess_request.end_time }}</td>
            <td>{{ sess_request.student }}</td>
            <td>{{ sess_request.course }}</td>
            <td>{{ sess_request.service }}</td>
        </tr>
        <br>
        <p>Your session was Declined :( You can apply for another listing <a href="{% url 'listing_view' %}">here!<a></p>
    </div>
    {% else %}
      <tr style="background-color: rgb(216, 216, 157);">
        <td>{{ sess_request.date }}</td>
            <td>{{ sess_request.start_time }}</td>
            <td>{{ sess_request.end_time }}</td>
            <td>{{ sess_request.student }}</td>
            <td>{{ sess_request.course }}</td>
            <td>{{ sess_request.service }}</td>
        </tr>
    {% endif %}
            
        <br>
        <form action="{% url 'delete_model' pk=sess_request.pk %}" method="post">
          {% csrf_token %}
          <button type="submit" class="btn btn-danger">Delete</button>
      </form>
      <br>
    {% endfor %}
      </tbody>
      {% endif %}
  </body>
  </div>
    {% else %}

    <!-- This is for if they are only a student -->
    <div>
      <h1>Pending Requests You Made:</h1>
      {% if not has_sess_request_student_side %}
        <p>You currently have no requests pending for tutors. You can book a listing  <a href="{% url 'listing_view' %}">here!<a></p>
        {% else %}
      <tbody>
          {% for sess_request in sess_request_student_side %}
        {% if sess_request.pending == 1 %}
          <div style="background-color: rgb(166, 232, 166);">
            <tr>
              <td>{{ sess_request.date }}</td>
                <td>{{ sess_request.start_time }}</td>
                <td>{{ sess_request.end_time }}</td>
                <td>{{ sess_request.student }}</td>
                <td>{{ sess_request.course }}</td>
                <td>{{ sess_request.service }}</td>
            </tr>
            <br>
            <p>Your session is approved! Contact {{sess_request.tutor.user.email}} to get started!</p>
          </div>
        {% elif sess_request.pending == 2 %}
        <div style="background-color: rgb(227, 177, 177);">
          <tr>
            <td>{{ sess_request.date }}</td>
                <td>{{ sess_request.start_time }}</td>
                <td>{{ sess_request.end_time }}</td>
                <td>{{ sess_request.student }}</td>
                <td>{{ sess_request.course }}</td>
                <td>{{ sess_request.service }}</td>
            </tr>
            <br>
            <p>Your session was Declined :( You can apply for another listing <a href="{% url 'listing_view' %}">here!<a></p>
        </div>
        {% else %}
          <tr style="background-color:rgb(216, 216, 157);">
            <td>{{ sess_request.date }}</td>
                <td>{{ sess_request.start_time }}</td>
                <td>{{ sess_request.end_time }}</td>
                <td>{{ sess_request.student }}</td>
                <td>{{ sess_request.course }}</td>
                <td>{{ sess_request.service }}</td>
            </tr>
        {% endif %}
                
            <br>
            <form action="{% url 'delete_model' pk=sess_request.pk %}" method="post">
              {% csrf_token %}
              <button type="submit" class="btn btn-danger">Delete</button>
          </form>
          <br>
        {% endfor %}
          </tbody>
          {% endif %}
      </body>
      </div>


    {% endif %}

    

{% else %}
      <div class="logincontainer">
      <div class="logintext">
        <h1 class="text-center display-4">Welcome to Tutor Me! </h1>
        <p class="text-center lead">An UVA Undergraduate resource for matching Students with Tutors</p>
        <div class="row justify-content-evenly">
          <div class="col-4 text-start">
            <p>Not a member? <a href="accounts/signup" class="btn btn-success btn-lg">Sign Up</a> </p>
          </div>
          <div class="col-4 text-end">
            <p>Have an Account? <a href="accounts/login" class="btn btn-primary btn-lg">Sign In</a></p>
          </div>
       </div>
      </div>
      <div class="fixed-bottom">
        <a class="btn btn-secondary" href="admin" role="button"><i class="bi-people-fill"></i></a>
      </div>
    </div>
{% endif %}

</div>
</body>

<footer class="bg-light text-center text-lg-start">
  <div class="text-center p-3" style="background-color: rgba(173,216, 230, 0.2);">
    © 2023 Copyright: Team A-30
  </div>
</footer>


</html>

