{% load socialaccount %}


<!DOCTYPE html>
<html>

<head>
  {% load bootstrap5 %}
  {% bootstrap_css %}
  {% bootstrap_javascript %}

  <style>
    /* Add a black background color to the top navigation */
    .topnav {
      background-color: #11caf0;
      overflow: hidden;
    }

    /* Style the links inside the navigation bar */
    .topnav a {
      float: left;
      color: #f2f2f2;
      text-align: center;
      padding: 14px 16px;
      text-decoration: none;
      font-size: 17px;
    }

    /* Add a color to the active/current link */
    .topnav a.active {
      background-color: #c3c3c3;
      color: rgb(0, 0, 0);
    }

    /* Right-aligned section inside the top navigation */
    .topnav-right {
      float: right;
    }
  </style>

</head>

<div class="cover-container  mx-auto flex-column">

  <body>
    {% if user.is_authenticated %}
    <!-- nav bar -->
    <div class="topnav">
      <a class="active" href="/"><img
          src="https://lh5.googleusercontent.com/PMyEMcnh7OuoAC_dPcDNxLGSoFZm8T1K9sob-VHKqBk74YqWJjugOfbulpRZGtn_TSY=w2400"
          alt="" width="35" height="35"></a>
      <a href="/tutor_courses">Find a Tutor</a>
      <a href="/submit_listing">Start Tutoring</a>
      <a href="/discussion">View Discussion</a>
      <div class="topnav-right">
        <a href="/profile">{{ user.username }}</a>
        <a href="/logout">Log Out</a>
      </div>
    </div>
    <!-- end nav bar -->
    {% endif %}

    <!--  heading ans search bar -->
    <h2 class="text-dark text-center mt-3 mb-3"> You Searched For "{{searched}}"</h2>

    <div class="container mb-5">
      <form class="d-flex" method=POST action="{% url 'search-classes' %}">
        {%csrf_token%}
        <input class="form-control form-control-lg" type="search" placeholder="Search..." name="searched">
        <button class="btn btn-primary" type="Submit">Submit</button>
      </form>
    </div>

    <!-- courses -->
    {%if searched %}

    {% for course in courses %}
    <div class="container p-3 my-3 border" style="background-color: beige;">
      <button type="button" class="btn btn-info btn-lg"> <span class="badge badge-dark"> {{ course.course }}</span></button>
      <button type="button" class="btn btn-success"> <span class="badge badge-dark"> $
          {{course.hourly_rate}}0</span></button>
      <button type="button" class="btn btn-warning"> <span class="badge badge-dark" style="color: black;"> {{ course.avg_rating |floatformat:1 }} / 5</span></button>
      <h4 class="mt-2">Tutor: {{ course.user.first_name }} {{course.user.last_name }} ( {{ course.headline }} )</h4>
      <h5> Qualifications: {{ course.qualifications }}</h5>
      <!-- Button trigger modal -->
      <a href="{% url 'update_listing' course.pk %}">
        <button type="button" class="btn btn-primary">Book</button>
      </a>
    </div>
    {% endfor %}

    {% for course in course2 %}
    <div class="container p-3 my-3 border" style="background-color: beige;">
      <button type="button" class="btn btn-info btn-lg"> <span class="badge badge-dark"> {{ course.course }}</span></button>
      <button type="button" class="btn btn-success"> <span class="badge badge-dark"> $
          {{course.hourly_rate}}0</span></button>
      <button type="button" class="btn btn-warning"> <span class="badge badge-dark" style="color: black;"> {{ course.avg_rating |floatformat:1 }} / 5</span></button>
      <h4 class="mt-2">Tutor: {{ course.user.first_name }} {{course.user.last_name }} ( {{ course.headline }} )</h4>
      <h5> Qualifications: {{ course.qualifications }}</h5>
      <!-- Button trigger modal -->
      <a href="{% url 'update_listing' course.pk %}">
        <button type="button" class="btn btn-primary">Book</button>
      </a>
    </div>
    {% endfor %}

    {% for course in course3 %}
    <div class="container p-3 my-3 border" style="background-color: beige;">
      <button type="button" class="btn btn-info btn-lg"> <span class="badge badge-dark"> {{ course.course }}</span></button>
      <button type="button" class="btn btn-success"> <span class="badge badge-dark"> $
          {{course.hourly_rate}}0</span></button>
      <button type="button" class="btn btn-warning"> <span class="badge badge-dark" style="color: black;"> {{ course.avg_rating |floatformat:1 }} / 5</span></button>
      <h4 class="mt-2">Tutor: {{ course.user.first_name }} {{course.user.last_name }} ( {{ course.headline }} )</h4>
      <h5> Qualifications: {{ course.qualifications }}</h5>
      <!-- Button trigger modal -->
      <a href="{% url 'update_listing' course.pk %}">
        <button type="button" class="btn btn-primary">Book</button>
      </a>
    </div>
    {% endfor %}

    {%else%}
    <div class="container text-center">
      <h1 class="mb-5">Hey! You forgot to search for a class...</h1>
    </div>

    {%endif%}


    <footer class="bg-light text-center text-lg-start mt-auto">
      <div class="text-center p-3" style="background-color: rgba(173,216, 230, 0.2);">
        © 2023 Copyright: Team A-30
      </div>
    </footer>

</div>