{% load bootstrap5 %}
{% bootstrap_css %}
{% bootstrap_javascript %}

<div class="cover-container  mx-auto flex-column">
    <ul class="nav bg-info mx-auto">
      <a class="navbar-brand"href="/"><img src= "https://lh5.googleusercontent.com/PMyEMcnh7OuoAC_dPcDNxLGSoFZm8T1K9sob-VHKqBk74YqWJjugOfbulpRZGtn_TSY=w2400" alt="" width="35"  height="35"></a>
      <li class="nav-item">
        <a class="nav-link link-light" href="/tutor_courses">Find a Tutor</a>
      </li>
      <li class="nav-item">
        <a class="nav-link link-light" href="/submit_listing">Start Tutoring</a>
      </li>
      <li class="nav-item">
        <a class="nav-link link-light" href="/discussion">View Discussion</a>
      </li>
      <li class="nav-item">
        <a class="nav-link link-light" href="/profile">Profile</a>
      </li>
      <li class="nav-item">
        <a class="nav-link link-light" href="/logout">Log Out</a>
      </li>
      <li class="nav-item">
        <a class="nav-link disabled" >{{ user.username }}</a>
      </li>
    </ul>

<div class = container>

    <br>
    
    <h3 class=" font-weight-normal text-center">Discuss with peers in your community</h3>
    <p class="lead  text-center"> Browse conversations about classes, assignments, professors and more</p>

        <form class = "d-flex" method = POST action="{% url 'search_discussions' %}">
            {%csrf_token%}
            <input class = "form-control form-control-lg" type = "search" placeholder = "Search for discussion topics..." name ="searched">
            <button class = "btn btn-primary" type = "Submit">Submit</button>
        </form>

        {%if searched %}

        {% for title in titles%}
        <li class="list-group-item  flex-column"> 
            <div>  
                <strong> {{ title.title_text }} </strong>  :   {{ title.question_text }}
            </div>
            <small>Posted by {{title.username}} </small>
            <div>
                <button class="btn btn-warning btn-sm btn-round" type="submit"> {{title.num_replies}} replies</button>
                <a class="btn btn-secondary btn-sm text-end" href="/discussion/{{title.id}}" role="button">View</a>
            </div>
        </li>
        <br>
        {% endfor %}

        {% for question in questions%}
        <li class="list-group-item  flex-column"> 
            <div>  
                <strong> {{ question.title_text }} </strong>  :   {{ question.question_text }}
            </div>
            <small>Posted by {{question.username}} </small>
            <div>
                <button class="btn btn-warning btn-sm btn-round" type="submit"> {{question.num_replies}} replies</button>
                <a class="btn btn-secondary btn-sm text-end" href="/discussion/{{question.id}}" role="button">View</a>
            </div>
        </li>
        <br>
        {% endfor %}

      {%endif%}

      <br>
        <h3 class=" font-weight-normal text-center">No results for "{{searched}}"</h3>
      <br>

    </ul>

</div>

<footer class="bg-light text-center text-lg-start">
  <div class="text-center p-3" style="background-color: rgba(173,216, 230, 0.2);">
    © 2023 Copyright: Team A-30
  </div>
</footer>