{% load bootstrap5 %}
{% bootstrap_css %}
{% bootstrap_javascript %}

<head>

  <title>Discussion Post</title>

  <style>
    /* Add a black background color to the top navigation */
    .topnav {
      background-color: #11caf0;
      overflow: hidden;
    }

    /* Style the links inside the navigation bar */
    .topnav a {
      float: left;
      color: #f2f2f2;
      text-align: center;
      padding: 14px 16px;
      text-decoration: none;
      font-size: 17px;
    }

    /* Add a color to the active/current link */
    .topnav a.active {
      background-color: #c3c3c3;
      color: rgb(0, 0, 0);
    }

    /* Right-aligned section inside the top navigation */
    .topnav-right {
      float: right;
    }
  </style>
</head>

<body>
  <!-- nav bar -->
  <div class="topnav">
    <a class="active" href="/"><img
        src="https://lh5.googleusercontent.com/PMyEMcnh7OuoAC_dPcDNxLGSoFZm8T1K9sob-VHKqBk74YqWJjugOfbulpRZGtn_TSY=w2400"
        alt="" width="35" height="35"></a>
    <a href="/tutor_courses">Find a Tutor</a>
    <a href="/submit_listing">Start Tutoring</a>
    <a href="/discussion">View Discussion</a>
    <div class="topnav-right">
      <a href="/profile">{{ user.username }}</a>
      <a href="/logout">Log Out</a>
    </div>
  </div>
  <!-- end nav bar -->

<div class = container>

    <br>
    
    <h3 class=" font-weight-normal text-center">Discuss with peers in your community</h3>
    <p class="lead  text-center"> Browse conversations about classes, assignments, professors and more</p>

        <form class = "d-flex" method = POST action="{% url 'search_discussions' %}">
            {%csrf_token%}
            <input class = "form-control form-control-lg" type = "search" placeholder = "Search for discussion topics..." name ="searched">
            <button class = "btn btn-primary" type = "Submit">Submit</button>
        </form>

        {%if searched and titles.exists or questions.exists or replies.exists%}

          {% for title in titles%}
          <li class="list-group-item  flex-column"> 
              <div>  
                  <strong> {{ title.title_text }} </strong>  :   {{ title.question_text }}
              </div>
              <small>Posted by {{title.username}} </small>
              <div>
                  <button class="btn btn-warning btn-sm btn-round" type="submit"> {{title.num_replies}} replies</button>
                  <a class="btn btn-secondary btn-sm text-end" href="/discussion/{{title.id}}" role="button">View</a>
              </div>
          </li>
          <br>
          {% endfor %}

          {% for question in questions%}
          <li class="list-group-item  flex-column"> 
              <div>  
                  <strong> {{ question.title_text }} </strong>  :   {{ question.question_text }}
              </div>
              <small>Posted by {{question.username}} </small>
              <div>
                  <button class="btn btn-warning btn-sm btn-round" type="submit"> {{question.num_replies}} replies</button>
                  <a class="btn btn-secondary btn-sm text-end" href="/discussion/{{question.id}}" role="button">View</a>
              </div>
          </li>
          <br>
          {% endfor %}

          {% for reply in replies%}
          <li class="list-group-item  flex-column"> 
              <div>  
                  <strong> {{ reply.question.title_text }} </strong>  :   {{ reply.question.question_text }}
              </div>
              <small>Posted by {{reply.question.username}} </small>
              <div>
                  <button class="btn btn-warning btn-sm btn-round" type="submit"> {{reply.question.num_replies}} replies</button>
                  <a class="btn btn-secondary btn-sm text-end" href="/discussion/{{reply.question.id}}" role="button">View</a>
              </div>
          </li>
          <br>
          {% endfor %}

        {%else%}
          <br>
            <h3 class=" font-weight-normal text-center">No results for {{searched}}. Please try another search.</h3>
          <br>
        {%endif%}

      

    </ul>

</div>
</body>

<footer class="bg-light text-center text-lg-start fixed-bottom">
  <div class="text-center p-3" style="background-color: rgba(173,216, 230, 0.2);">
    © 2023 Copyright: Team A-30
  </div>
</footer>
