{% load bootstrap5 %}
{% bootstrap_css %}
{% bootstrap_javascript %}

<div class = "container mx-auto">
    <form method="post">
      {% csrf_token %}
          <h4 class="text-info">Start discussion</h4>
          <div class="row">
              <label for="username">Username:</label><br>
              <input style="height:40px;" type="text" name="username" id="username" ><br>
              <label for="title">Title:</label><br>
              <input style="height:40px;" type="text" name="title_text" id="title_text" ><br>
              <label for="body">Thread Body:</label><br>
              <input style="height:200px;" type="text" name="question_text" id="question_text"><br>
              <input type="submit"  value="Submit">
          </div>
  </div>




