{% load bootstrap5 %}
{% bootstrap_css %}
{% bootstrap_javascript %}

<div class="cover-container  mx-auto flex-column">
    <ul class="nav bg-info mx-auto">
      <a class="navbar-brand"href="/"><img src= "https://lh5.googleusercontent.com/PMyEMcnh7OuoAC_dPcDNxLGSoFZm8T1K9sob-VHKqBk74YqWJjugOfbulpRZGtn_TSY=w2400" alt="" width="35"  height="35"></a>
      <li class="nav-item">
        <a class="nav-link link-light" href="/tutor_courses">Find a Tutor</a>
      </li>
      <li class="nav-item">
        <a class="nav-link link-light" href="/submit_listing">Start Tutoring</a>
      </li>
      <li class="nav-item">
        <a class="nav-link link-light" href="/discussion">View Discussion</a>
      </li>
      <li class="nav-item">
        <a class="nav-link link-light" href="/profile">Profile</a>
      </li>
      <li class="nav-item">
        <a class="nav-link link-light" href="/logout">Log Out</a>
      </li>
      <li class="nav-item">
        <a class="nav-link disabled" >{{ user.username }}</a>
      </li>
    </ul>

<div class = "container mx-auto">
    <form method="post">
      {% csrf_token %}
          
      <br> 

      <h3 class=" font-weight-normal text-center">Start a conversation thread about a topic below </h3>
      <p class="lead  text-center"> Ask questions, provide reviews, or discuss anything of your choice </p>

          <div class="row">
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                  <span class="input-group-text" id="basic-addon1">You are starting a thread as @{{ user.username }}</span>
                </div>
            </div>


            <div class="input-group mb-3">
                <input type="text"name="title_text" id="title_text" class="form-control" placeholder="Title text" aria-label="Title text" aria-describedby="basic-addon2">
                <div class="input-group-append">
                </div>
            </div>

            <div class="input-group input-group-lg">
                <div class="input-group-prepend">
                </div>
                <input type="text"  name="question_text" id="question_text" class="form-control"  placeholder="Thread body" aria-label="Large" aria-describedby="inputGroup-sizing-sm">
              </div>
          </div>
          <br>
          <input type="submit"  class="btn btn-primary " value="Submit">
  </div>




  <footer class="bg-light text-center text-lg-start">
    <div class="text-center p-3" style="background-color: rgba(173,216, 230, 0.2);">
      © 2023 Copyright: Team A-30
    </div>
  </footer>