{% load i18n %}
{% load socialaccount %}

<!DOCTYPE html>
<html>
<head>
  {% load bootstrap5 %}
  {% bootstrap_css %}
  {% bootstrap_javascript %}

  <style>
    .logincontainer {
      background-image: url("https://wallpapercave.com/wp/wp5794418.jpg");
      margin-left: auto;
      margin-right: auto;
      margin-top: auto;
      width: auto;
      height: 100vh;
    }
    .logintext {
      position: absolute;
      text-align: center;
      padding-left: 70vh;
      padding-right: 70vh;
      padding-top: 15vh;
      padding-bottom: 50vh;
    }
  </style>
<title>Tutor Listings</title>
</head>
<body>
{% if user.is_authenticated %}
<div class="cover-container  mx-auto flex-column">
    <ul class="nav bg-info mx-auto">
      <a class="navbar-brand"href="/"><img src= "https://lh5.googleusercontent.com/PMyEMcnh7OuoAC_dPcDNxLGSoFZm8T1K9sob-VHKqBk74YqWJjugOfbulpRZGtn_TSY=w2400" alt="" width="35"  height="35"></a>
      <li class="nav-item">
        <a class="nav-link link-light" href="/tutor_courses">Find a Tutor</a>
      </li>
      <li class="nav-item">
        <a class="nav-link link-light" href="/submit_listing">Start Tutoring</a>
      </li>
      <li class="nav-item">
        <a class="nav-link link-light" href="/profile">Profile</a>
      </li>
      <li class="nav-item">
        <a class="nav-link link-light" href="/logout">Log Out</a>
      </li>
      <li class="nav-item">
        <a class="nav-link disabled" >{{ user.username }}</a>
      </li>
    </ul>

<!-- Display every listing -->
<br/>


<body class="text-center">

    <main role="main" class="inner cover">
      <h3 class=" font-weight-normal">Browse Current UVA Tutor Listings</h3>
      <p class="lead"> Search for your tutor by course mnemonic or name.</p>
       
      <form class = "d-flex" method = POST action="{% url 'search-classes' %}">
        {%csrf_token%}
        <input class = "form-control form-control-lg" type = "search" placeholder = "Search..." name ="searched">
        <button class = "btn btn-primary" type = "Submit">Submit</button>
      </form>
  
    </main>
    

</body>


    

{% else %}
<div class="logincontainer">
  <div class="logintext">
    <h1 class="text-center">Welcome to Tutor Me! </h1>
    <p class="text-center">An UVA Undergraduate resource for matching Students with Tutors</p>
    <div class="row justify-content-evenly">
      <div class="col-4 text-start">
        <p>Not a member? <a href="accounts/signup" class="btn btn-success btn-lg">Sign Up</a> </p>
      </div>
      <div class="col-4 text-end">
        <p>Have an Account? <a href="accounts/login" class="btn btn-primary btn-lg">Sign In</a></p>
      </div>
   </div>
  </div>
</div>
{% endif %}

</div>
</body>


<footer class="bg-light text-center text-lg-start mt-auto">
  <div class="text-center p-3" style="background-color: rgba(173,216, 230, 0.2);">
    © 2023 Copyright: Team A-30
  </div>
</footer>


</html>
