{% load i18n %}
{% load socialaccount %}

<!DOCTYPE html>
<html>
<head>
  {% load bootstrap5 %}
  {% bootstrap_css %}
  {% bootstrap_javascript %}
</head>
<body>
{% if user.is_authenticated %}
  <div class="container">
    <h1>Tutor Me </h1>
    <ul class="nav bg-info">
      <li class="nav-item">
        <a class="nav-link link-light" href="/">HOME PAGE</a>
      </li>
      <li class="nav-item">
        <a class="nav-link link-light" href="/tutor_courses">VIEW CURRENT TUTOR COURSES</a>
      </li>
      <li class="nav-item">
        <a class="nav-link link-light" href="/submit_listing">SUBMIT LISTING</a>
      </li>
      <li class="nav-item">
        <a class="nav-link link-light" href="/profile">MY PROFILE</a>
      </li>
      <li class="nav-item">
        <a class="nav-link link-light" href="/profile">LOGOUT</a>
      </li>
    </ul> 

<!-- Display every listing -->
<br/>

<h1>All Tutor Listings</h1>

<ul class="list-group">
{% for listing in listings %}
    <li class="list-group-item"> Course: {{ listing.course }} || Tutor: {{ listing.first_name }} || Hourly Rate: {{ listing.hourly_rate }} || Rating: {{ listing.rating }}
      <a href = "{% url 'update_listing' listing.id %}">BOOK</a>
    </li>
{% endfor %}
</ul>

<form class = "d-flex" method = POST action="{% url 'search-classes' %}">
  {%csrf_token%}
  <input class = "Form control" type = "search" placeholder = "Search...">
  <button class = "btn-btn-outline-secondary" type = "Submit">Submit</button>
</form>
    
{% else %}
  <a href="{% provider_login_url 'google' %}">Login With Google</a>
{% endif %}

</div>
</body>
</html>