{% load socialaccount %}
{% load bootstrap5 %}
{% bootstrap_css %}
{% bootstrap_javascript %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Add icon library -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <style>
        .fa {
            padding: 6px 0;
            font-size: 30px;
            width: 40px;
            text-align: center;
            text-decoration: none;
            border-radius: 50%;
        }

        .fa-google {
            background: #ee5555;
            color: white;
        }
    </style>
    <title>Login</title>
</head>
<body>
    <div class="container text-dark mt-5">
        <div class="row justify-content-md-center">
          <div class="col-md-5 bg-grey p-3">
            <form class="password_reset" method="POST" action="{% url 'account_reset_password' %}">
                {% csrf_token %}

                <h1 class="text-center mb-4">Password Reset</h1>
                <p>Forgotten your password? Enter your e-mail address below, and we'll send you an e-mail allowing you to reset it.</p>
                
                <div class="text-center">
                    {{form.as_p}}   
                </div>

                <div class="form-check text-center mb-5">
                    <button class="btn btn-primary btn-block" type="submit">Reset Password</button>
                </div>
                
            </form>

          </div>
        </div>
      </div>
</body>
</html>
